*{
    margin: 0;
    padding: 0;
}

.background{
    background-color: grey;
}


:root{
    --rowNum: 16;
    --colNum: 16;
    --squareSize: 40px;
}
.title{
    text-align: center;
}

.centerBOI{
    text-align: center;
}

#squarespace{
    
    display: grid;
    grid-template-rows:repeat(var(--rowNum),var(--squareSize)); 
    grid-template-columns:repeat(var(--colNum),var(--squareSize));

}

#squarespace > div{
    display:inline-block;
    border: 1px solid black;
    width: var(--squareSize);
    height: var(--squareSize);
}

